@model IEnumerable <MojPregled.PatientModel>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";

}

@{
    ViewBag.Title = "MojPregled";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
    <table id="patients">
        @foreach (var row in Model.AsEnumerable().Reverse())
        {
            <tr>
                <center>
                    <th>@row.patient_name</th>
                </center>
                <center>
                    <th>@row.patient_surname</th>
                </center>
            </tr>

        }
    </table>
</body>
</html>

